
  Welcome to Crisis Center!
  <nav>
    <!--
    <a routerLink="/crisis-center/crisis-info" routerLinkActive="active" [ngClass]="['crisis-nav', 'second']">Crisis info</a>
    <a routerLink="/crisis-center/crisis-contact" routerLinkActive="active" [ngClass]="['crisis-nav', 'second']">Contact</a>
    -->
    <a routerLink="./crisis-info" routerLinkActive="active" [ngClass]="['crisis-nav', 'second']">Crisis info</a>
    <a routerLink="./crisis-contact" routerLinkActive="active" [ngClass]="['crisis-nav', 'second']">Contact</a>
    
  </nav>
  <router-outlet></router-outlet>

